{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="card">
        <form action="." method="get" class="card-header">
            <div class="form-row justify-content-between">
                <div class="col-md-2">
                    <input type="text" value="{%if request.GET.title %}{{request.GET.title}}{%endif %}" name="title" placeholder="Product Title" class="form-control">
                </div>
                <div class="col-md-2">
                    <select name="variant" id="" class="form-control">
                        <option value="">--Select A Variant--</option>
                       {% for variant in varients %}
                       {% if request.GET.variant == variant.variant_title %} 
                           <option value="{{variant.variant_title}}" selected>{{variant.variant_title}}</option>
                        {% else %}
                        <option value="{{variant.variant_title}}">{{variant.variant_title}}</option>
                           {% endif %}
                       
                       {% endfor %}

                    </select>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price Range </span>
                        </div>
                        <input type="text" name="price_from" value="{%if request.GET.price_from %}{{request.GET.price_from}}{% endif %}" aria-label="First name" placeholder="From"
                               class="form-control">
                        <input type="text" name="price_to" value="{%if request.GET.price_to %}{{request.GET.price_to}}{% endif %}" aria-label="Last name" placeholder="To" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="date" name="date" placeholder="Date" value="{%if request.GET.date %}{{request.GET.date}}{% endif %}" class="form-control">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        <div class="card-body">
            <div class="table-response">
               {% if products %}
               <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Variant</th>
                    <th width="150px">Action</th>
                </tr>
                </thead>

                <tbody>
                {% for product in products %}
                <tr>
                    <td>{{product.id}}</td>
                    <td>{{product.title}} <br> Created at : 25-Aug-2020</td>
                    <td>{{product.description}}</td>
                    <td>
                        <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant__{{product.id}}">
                          {% for variant in product.product.all %}
                            <dt class="col-sm-3 pb-0">
                                {{variant.product_variant_one}}/ 
                                {{variant.product_variant_two}}
                                {% if variant.product_variant_three %}
                                / {{variant.product_variant_three}}
                                {% endif %}
                            </dt>
                            <dd class="col-sm-9">
                                <dl class="row mb-0">
                                    <dd class="col-sm-4 pb-0">Price : {{variant.price}}</dd>
                                    <dd class="col-sm-8 pb-0">InStock : {{variant.stock}}.</dd>
                                </dl>
                            </dd>
                            {% endfor %}
                           
                        </dl>
                        <button onclick="$('#variant__{{product.id}}').toggleClass('h-auto')" class="btn btn-sm btn-link">Show more
                        </button>
                    </td>
                    <td>
                        <div class="btn-group btn-group-sm">
                            <a href="{% url 'product:edit.product' product.sku %}" class="btn btn-success">Edit</a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
               {% else %}
               <p>Product not found!</p>
               {% endif %}
            </div>

        </div>

        <div class="card-footer">
            <div class="row justify-content-between">
                {% if products.paginator.page_range %}
                <div class="col-md-6">
                    <p>Showing 1 to {{show_items_count}} out of {{total_count}}</p>
                </div>
                {% endif %}
                <div class="col-md-6">
                    <nav aria-label="Page navigation example" style="float:right">
                        <ul class="pagination">
                            {% if products.has_previous %}
                            <li class="page-item">
                                <a class="page-link" href="?page={{ products.previous_page_number }}">
                                    &laquo;</a>
                                </li>
                       
                        {% endif %}
                        {% for i in products.paginator.page_range %}
                        {% if products.number == i %}
                        <li class="active page-item">
                            <span class="page-link">{{ i }} <span class="sr-only">(current)</span></span>
                        </li>
                        {% else %}
                        <li class="page-item">
                            <a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                    {% endfor %}
                        
                    {% if products.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{ products.next_page_number }}">&raquo;</a></li>
              
                {% endif %}
                        </ul>
                      </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}